@import url('vars.css');
.ToDoDetails{
    margin-top: 32px;
    height: 500px;
    border-radius: 10px;    
    display: flex;
    color: white;
    background-color: var(--ligth-green);
}
.importante{
    background-color: brown;
}
.ToDoDetails .info{
    justify-content: center;
    padding: 10px;
    width: 280px;
}
.ToDoDetails figure img{
    border-radius: 10px;    
    
   width: 336px;
   height: 500px;
}
